snippet fileinfo "File header" b
`!v printf(&cms, repeat('=', &tw-2))`
`!v printf(&cms, ' ')`File: `!v expand('%:t') `
`!v printf(&cms, ' ')`Author: `!v $USER`
`!v printf(&cms, ' ')`Date: `!v system("date '+%d %b %Y'")[:-1] `
`!v printf(&cms, ' ')`Description: ${1:here}
`!v printf(&cms, repeat('=', &tw-2))`
endsnippet

snippet !date "current date"
`!v system("date '+%d %b %Y'")`
endsnippet

snippet !now "current time"
`!v system("date +%T")`
endsnippet
