
snippet c "color" b
color:
endsnippet

snippet bg "background-color" b
background-color: ${1:red}
endsnippet

snippet ! "!important"
!important
endsnippet

snippet dib "d: inline-block" b
display: inline-block
endsnippet

snippet -w "-webkit" b
-webkit-${1:property}: ${2:value}
endsnippet

snippet SEC "section" b
/* }}}
 * Section: ${2:name} {{{
 */
endsnippet
